In [5]:
#This is a comment
a = 11
b = 26
a*b

286

In [4]:
print("Hello Digital Methods!")

Hello Digital Methods!

# Heading

### Small heading
Normal text

In [6]:
#Hvorfor man skal passe på med at konvertere mellem floats og integers:
float(int(1.6))

1.0

In [9]:
#Method example
my_float = 3.0
my_float.is_integer()

True

In [10]:
#Debugging. Google fejlen for at finde ud af, hvorfor der kommer fejl. Her det fordi man prøver at lave en str til int
my_string='I am a string'
int(my_string)
print(my_string)

ValueError: invalid literal for int() with base 10: 'I am a string'

In [12]:
#Boolean operators
3 >= (2+1)

True

In [16]:
#Testing Boolean logic. Think of these as comparing statements (.e.g, "This is a chair" and "This is a cheese" on the same object)
True or True = 
#true

True or False = 
#true

False or False = 
#false

True and True = 
#true

True and False = 
#false (cannot be both at same time)

False and False = 
#false

SyntaxError: invalid syntax (<ipython-input-16-8529afe7cb93>, line 2)

In [17]:
#Combining strings (concatenation). Remember to add ' ' for spaces
s1 = 'social'
s2 = 'science'
print (s1 + ' ' + s2)

social science

In [23]:
#Method of strings example. Here, upper. Prints what it is in upper, but does not make it upper.
s1.upper()

#To actually make it upper:
s1 = s1.upper()

In [24]:
#Because of uppercase, s3 is no longer in s1. Had I not done s1=s1.upper(), it would have been true.
s3 = 'soc'
s3 in s1

False

In [28]:
#Replacing a substring
s1 = s1.replace('IAL', 'IOLOGY')
print(s1)

SOCIOLOGY

In [31]:
#Control flow: Use comparison and logical operators to state conditions

A = 4
if A == 4:
    print("This statement is true!")
else:
    print ("Oh no, this statement is not true!")
    
#Whitespace matters!

This statement is true!

In [38]:
#Page 34 Brooker book exercise
bedtime = False
want_tea = True
water_in_kettle = False

if not bedtime and want_tea = True:
    if not water_in_kettle:
        print("Put water in kettle.")
    print("Boil water.")

SyntaxError: invalid syntax (<ipython-input-38-efca9e5203a3>, line 6)

In [ ]:
number = input ("How big is this number?")
number = int(number)

if number > 100 and % 2 == 0:
    print("Stop. I can't even.")
elif number > 100:
    print("Phew, that's a big number.")
elif number % 2 == 0:
    print("This one is even.")
else:
    print(number)